body {
	background-image: url("../images/background.png");
	background-repeat: repeat;
	margin-bottom: 60px;
}

.whitebg {
	background-color: white;
	padding-bottom: 15px;
}

.myFooter {
	background-color: #666666;
	height: 60px;
	line-height: 60px;
	color: white;
}

.greenBox {
	background-color: #4aaaa5;
}

.whiteText {
	color: white !important;
}

.portTitle {
    position: relative;
    top: -45px;
    width: 100%;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    height: 35px;
    line-height: 35px;

}

h1 {
	color: #4aaaa5;
}